* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    margin: 10px;
}

.delete-btn {
    width: 100px;
    height: 20px;
    background-color: red;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 0;
}

.edit-btn {
    width: 100px;
    height: 20px;
    background-color: deepskyblue;
    border: none;
    color: white;
    cursor: pointer;
}

.submitBtn {
    width: 100px;
    height: 20px;
    background-color: green;
    border: none;
    color: white;
}

img {
    width: 90px;
    float: left;
    margin: 10px;
}

h1 {
    color: blue;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.creationForm {
    display: flex;
    flex-direction: column;
}

.creationForm>label,
.creationForm>input,
.creationForm>textarea,
.creationForm>select {
    float: left;
    margin: 5px 10px;
}

.inputError {
    border: 1px solid red;
}

.errorMsg {
    margin-left: 10px;
    color: red;
    display: block;
    font-size: 14px;
}

.updateForm {
    display: flex;
    flex-direction: column;
}

.updateForm>label,
.updateForm>input,
.updateForm>textarea {
    float: left;
    margin: 5px 10px;
    font-family: 'Times New Roman', Times, serif;
    
}

.updateForm>textarea {
    height: 100px;
    padding: 0 0.2rem;
}

.updateForm>input {
    padding: 0 0.2rem;
}

.updateBtn {
    width: 100px;
    height: 20px;
    background-color: transparent;
    border: 1px solid green;
    color: green;
}

.updateBtn:hover {
    width: 100px;
    height: 20px;
    background-color: green;
    border: 1px solid green;
    color: white;
}

.cancelBtn {
    width: 100px;
    height: 20px;
    background-color: transparent;
    border: 1px solid red;
    color: red;
}

.cancelBtn:hover {
    width: 100px;
    height: 20px;
    background-color: red;
    border: 1px solid red;
    color: white;
}

.container {
    margin: 0 10px;
}

/* for view2.js */
.updateForm span {
    color: red;
    margin: 0 10px;
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    align-self: flex-start;
}